header{
    display: flex;
    align-items: center;
    height: 70px
}

.match-nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    
}

.match-git{
    display: flex;
    align-items: center;
}

.match-git a{
    display: flex;
    color: white;
}

.match-git-name{
    margin: 0 0 0 5px;
}

.match-logo-name h1{
    color: var(--color-primary);
    font-weight: bolder;
    font-size: 32px;
}

