@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
  --color-primary: red;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans' , sans-serif;
}

html, body {
  background-image: url(./assets/img/filmes.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

a, a:hover{
  text-decoration: none;
  color: unset;
}

.match-roda-pe{
  color: white;
  background-color: black;
}

.match-roda-pe button{
  margin: 0 0 10px;
}

.match-roda-pe button:hover{
  font-size: 16.3px;
  background-color: red;
  color: black;
}